/**
 * @name: G.css
 * @description: 主题G主要样式表
 * @author: youranreus(youranreus@qq.com)
 * @update: 2019-02-15
 */


 /**
  * 基本样式
  */
*{
	font-family: 'Josefin Sans Light', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "'Hiragino Sans GB", STHeiti, "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
	-webkit-appearance:none;
}
html {

}
body {
	padding: 0px;
	margin: 0;
}
a:link{
	text-decoration: none;
	color: #07f;
}
a:visited{
	color:#07f;
}
html::before{
	content: '';
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
html::after{
	content:'';
	width:100%;
	height:100%;
}
.clear,.page-navigator,.clear::before,.page-navigator::before,.clear::after,.page-navigator::after{
	display: block;
	clear: both;
}
.clear::before,.clear::after,.page-navigator::after,.page-navigator::before{
	content: '';
}
::selection {
	background-color: #D6EDFF;
}
html::-webkit-scrollbar {
	height:8px;
	width:8px
}

::-webkit-scrollbar-track-piece{

}
html::-webkit-scrollbar-thumb {
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
	background-clip:padding-box;
	background-color:gray;
	min-height:40px;
	padding-top:100px;
	border-radius:4px
}
html::-webkit-scrollbar-thumb:hover,html::-webkit-scrollbar-thumb:active {
	background-color:#b3b3b3
}
html::-webkit-scrollbar,html *::-webkit-scrollbar {
	height:8px;
	width:8px;
}
html::-webkit-scrollbar-thumb,html *::-webkit-scrollbar-thumb {
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
	background-clip:padding-box;
	background-color:#696969;
	min-height:40px;
	padding-top:100px;
	border-radius:4px
}


/**
 * 小部件
 */
#gototop {
	position: fixed;
	right: 40;
	bottom: 40;
	z-index: 999;
}
#gototop img {
	width: 70px;
	height: 70px;
	opacity: 0.9;
	cursor: pointer;
}
.OwO-logo{
	text-align: left;
	color: #666;
	cursor: pointer;
	font-size: 0.9rem;
	display: inline-block;
	float: left;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}
.OwO-logo:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
#OwO-container{
	display: none;
	padding: 0px;
	padding-top:10px;
}

/**
 * 头部
 */

#header {
	border-radius: 30px;
	background: #787878;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 1px;
	width: 800px;
	margin: 50px auto;
}
#header-container {
	margin: 50px;
}
#header-container>* {
	margin: 0;
}
#header-container h2 {
	font-size: 5rem;
	color: white;
	font-weight: 200;
	margin-bottom: 10px;
}
#header-container div span {
	color: hsla(0,0%,100%,.6);
	font-size: 1.3rem;
	float: left;
}
#header-container div nav {
	margin: 0;
	float: right;
	text-align: right;
}
#header-container div nav a {
	color: hsla(0,0%,100%,.6);
	font-weight: 400;
	font-size: 1.3rem;
	margin-left: 20px;
	display: inline-block;
}
#header-container div nav a:hover {
	color: white;
}
.nav-focus {
	color: white!important;
}
.nav-focus:after {
	content: '';
	display: block;
	margin-top: 5px;
	height: 3px;
	margin-left: 2px;
	width: 70%;
	background: white;
	border-radius: 100000000rem;
	animation: nav-width 0.5s;
	-moz-animation: nav-width 0.5s;
	/* Firefox*/
	-webkit-animation: nav-width 0.5s;
	/* Safari and Chrome*/
	-o-animation: nav-width 0.5s;
	/* Opera*/
}

/**
 * welcome.php
 */

	#zp {
	margin: 50px auto;
	width: 800px;
	background: white;
	border-radius: 30px;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 1px;
}
#zp-content {
	margin: 49px;
	overflow: auto;
}
#zp-content p {
	line-height: 1.7;
	font-size: 1.2rem;
	color: RGB(182,177,150);
}
#zp-content img {
	display: block;
	margin: 20px auto;
	text-align: center;
	border-radius: 15px;
	width: 100% \9;
	max-width: 90%;
	max-height: 500px;
	height: auto;
}
#zp-content p span {
	color: RGB(87,103,104);
}

/**
 * 文章展示页
 */

#article {
	margin: 50px auto;
	width: 800px;
}
/* .article-item {
	background: white;
	border-radius: 30px;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 30px;
	width: 320px;
	margin: 10px;
	float: left;
} */
.article-item h2 {
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 1.1;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.article-item h2 span {
	color: black;
	font-size: 2rem;
	position:relative;
	transition: .3s ease all;
}
.article-item p {
	color: RGB(93,130,138);
	line-height: 1.7;
	margin: 0;
	margin-top: 10px;
}
#article-author {
	float: left;
}
#article-date {
	float: right;
}
.next,.prev {
	padding: .5rem 1.6rem;
	border-radius: 100rem;
	display: inline-block;
	opacity: 1;
	font-size: .875rem;
	line-height: 1.5;
	font-weight: 500;
	color: #333!important;
	border: .0625rem solid #333 !important;
	margin: 10px;
	margin-top: 30px;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
	background: #fff;
}
.next:hover,.prev:hover {
	background: #333 !important;
	color: #fff !important;
}
.next:hover a,.prev:hover a{
	color: #fff !important;
}
.next {
	float: right;
}
.prev {
	float: left;
}

/**
 * page
 */

#page {
	margin: 50px auto;
	width: 800px;
	background: white;
	border-radius: 30px;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 1px;
}
#page-content {
	margin: 49px;
}
#page-content-title {
	font-size: 2.3rem;
	font-weight: 400;
	text-align: center;
	color: RGB(182,177,150)!important;
}
#page-content-title img {
	height: 2.3rem;
	position: relative;
	top: 0.2rem;
}
#page-content-article h1,#page-content-article h2,#page-content-article h3,#page-content-article h4 {
	color: RGB(48,71,88);
}
#page-content-article h1::before,#page-content-article h2::before,#page-content-article h3::before,#page-content-article h4::before {
	content: ' ';
	display: inline-block;
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
	top: 0.2rem;
	left: -0.2rem;
	background-size: contain;
	background-image: url('https://i.loli.net/2019/02/11/5c6188146e4a4.png');
}
#page-content-article p {
	line-height: 1.75rem;
	font-size: 0.975rem;
	margin-top: 0;
	margin-bottom: 1rem;
	text-align: justify;
}
#page-content-article ul, #page-content-article ol,#page-content-article table, #page-content-article pre {
	margin-top: 0;
	margin-bottom: 1rem;
	margin-left: -1rem;
	text-align: justify;
}
#page-content-article li {
	margin: 10px auto;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}
#page-content-article blockquote {
	position: relative;
	display: block;
	padding: 45px 0px 25px 0px !important;
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	border-left: none;
	background: #f5f5f5;
	text-align: justify;
	border-radius: 15px;
}
#page-content-article blockquote p {
	font-size: 16px;
	margin: 0px;
	padding: 0px 25px 0px 25px;
	color: #878c93;
}
#page-content-article blockquote:before {
	position: absolute;
	top: 3;
	left: 7;
	content: '';
	background: url(../IMG/dot.svg) left top no-repeat;
	background-size: contain;
	width: 36px;
	height: 40px;
}

/**
 * post
 */

#post {
	margin: 50px auto;
	width: 800px;
	background: white;
	border-radius: 30px;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	position: relative;
}
#post-header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 15rem;
	zoom: 1;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
#post-header-content {
	position: absolute;
	bottom: 0;
	width: 100%;
}
#post-header-mask {
	background: rgba(0,0,0,0.25);
	position: relative;
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 15rem;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
#post-content-title {
	font-size: 2rem;
	margin-left: 50px;
	margin-bottom: 10px;
	color: white;
}
#post-content-meta {
	position: relative;
	font-size: 0.9rem;
	margin-left: 55px;
	color: white;
	top: -15px;
}
#post-content-meta a {
	color: white;
}
#post-content {
	margin: 49px;
	padding: 1px;
}
#post-content-article h1,#post-content-article h2,#post-content-article h3,#post-content-article h4 {
	color: RGB(48,71,88);
	border-bottom: 1px solid #eaecef;
	padding-bottom: .3em;
}
#post-content-article h1 {
	font-size: 1.6rem;
}
#post-content-article h2 {
	font-size: 1.5rem;
}
#post-content-article h3 {
	font-size: 1.4rem;
}
#post-content-article h4 {
	font-size: 1.3rem;
}
#post-content img {
	display: block;
	margin: 20px auto;
	text-align: center;
	border-radius: 15px;
	width: 100% \9;
	max-width: 90%;
	max-height: 500px;
	height: auto;
}
#post-content-article em{
	color:RGB(0,77,181);
	margin-right: 5px;
}
#post-content-article strong{
	color:RGB(204,53,54);
}
.bq {
	position: relative;
	display: inline-block!important;
	margin: 0!important;
	top: 8px;
	height: 30px!important;
	border-radius: 0!important;
}
#post-content-article p {
	clear: both;
	margin-top: 15px;
	line-height: 1.72222;
	text-align: justify;
	color: #606975;
}
#post-content-article p, #post-content-article li {
	font-size: 17px;
	letter-spacing: .6px;
}
#post-content-article li {
	margin: 10px auto;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}
#post-content-article blockquote {
	position: relative;
	display: block;
	padding: 45px 0px 25px 0px !important;
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	border-left: none;
	background: #f5f5f5;
	text-align: justify;
	border-radius: 15px;
}
#post-content-article blockquote p {
	font-size: 16px;
	margin: 0px;
	padding: 0px 25px 0px 25px;
	color: #878c93;
}
#post-content-article blockquote:before {
	position: absolute;
	top: 3;
	left: 7;
	content: '';
	background: url(../IMG/dot.svg) left top no-repeat;
	background-size: contain;
	width: 36px;
	height: 40px;
}
code:not([class*="language-"]) {
    padding: 2px 8px;
    margin: 0 4px;
    word-wrap: break-word;
    color: #555;
    background: #eee;
    border-radius: 3px;
    font-size: 14px;
}

hr {
	margin: 1.5em 0;
	border: 0;
	border-top: 2px solid #eee;
}
ruby {
	background-color: rgba(146,185,204,.2);
	margin: 4px;
	padding: 0 2px;
	border-radius: 4px;
}
ruby>rt {
	font-style: italic;
	color: #6a8998;
	margin-right: 2px;
	font-size: 60%;
}
#post-footer {
	padding: 50px;
	padding-top: 0;
	padding-bottom: 10px;
	line-height: 1.4375rem;
	font-size: .875rem;
	color: #666;
}
#post-tags {
	float: left;
}
#post-lastEdit {
	float: right;
}
#post-tags a {
	margin-right: .3125rem;
	padding: .25rem .5rem;
	border-radius: .1875rem;
	border: 1px solid rgba(153,153,153,0.1);
	color: #666;
	text-decoration: none;
	font-size: .75rem;
	font-weight: 500;
}
#post-tags a:hover {
	background: rgba(153,153,153,0.1);
}

/**
 * comments
 */

#comments {
	width: 800px;
	margin: 20px auto;
}
.page-navigator {
	display:block;
	margin-left: -40px;
}
.page-navigator li{
	display: none;
}
.page-navigator li.prev, .page-navigator li.next{
	list-style:none;
	display:inline-block;
	margin:5px 0;
	display: none!important;
}
.page-navigator li a{
	color: #333;
	text-decoration: none;
}
#comment-form {
	position:relative;
	margin:0 auto;
	padding:50px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
#comment-form{
	background:#fff;
	border-radius:30px;
	margin-bottom:20px;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
}
#comment-form {
	text-align: center;
}
div#comments{
    margin-top: 40px;
}
#response{
	color: RGB(48,71,88);
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
	text-align: left;
}
#comments a,#comments a:link,#comments a:visited {
    color: #07F;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
}

#comments .comment-meta span {
    color: #999;
    font-size: .92857em
}

#comments .comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444
}

#comments .comment-author .avatar {
    float: left;
    margin: 1px 10px 0 0;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

#comments .comment-author cite {
    line-height: 1.2
}

#comments .comment-awaiting-moderation {
    float: right;
    margin-top: -20px;
    color: #777;
    font-style: normal
}

#comments .comment-list .respond {
    margin: 15px 0;
    border-top: 1px solid #ddd
}

#comments .comment-body .respond {
    margin: 0 0 25px;
    border: 0
}

.cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .92857em;
		display: inline-block;
}

#comment-form {
    padding-top: 15px;
}

button,html input[type=button],input[type=reset],input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible
}

#comment-form .button {
    width: 100%;
    margin-top: 10px;
}

#comment-form input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 6px;
    height: 32px;
    border: solid 1px #d4d4d4;
    background: rgba(255,255,255,1);
    line-height: 16px;
    -ms-box-sizing: border-box
}

#comment-form input,#comment-form textarea {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em .6em;
    border: 1px solid #ccc
}

#comment-form textarea {
    overflow-y: visible;
    margin-top: 10px;
    width: 100%;
    vertical-align: top
}

#comment-form input:focus,#comment-form textarea:focus {
    outline: 0;
    border-color: #129fea
}

#comment-form input,#comment-form textarea {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em .6em;
    border: 0;
    border-radius: 5px;
    background: rgba(250,250,250,0.9);
    color: #43454A;
}

#comment-form input:focus,#comment-form textarea:focus {
    outline: 0;
    border-color: #129fea
}
input#url,input#mail,input#author{
	width: 32.8%;
}

.submit{
	padding: .5rem 1.6rem;
	border-radius: 100rem;
	display: inline-block;
	opacity: 1;
	font-size: .875rem;
	line-height: 1.5;
	font-weight: 500;
	color: white!important;
	border: .0625rem solid rgba(250,250,250,0.7) !important;
	box-shadow: rgba(0, 119, 225, 0.616) 0px 16px 60px -15px;
	background: #07F;
	outline:none;
	float: right;
}
.comment-children {

}

.comment-children .comment-children {
    padding-left: 0
}

.comment-content {
    overflow: hidden;
    margin-right: 50px;
    color: #333;
}

#comments .page-navigator {
    padding: 25px 0 0;
    list-style: none;
    text-align: center;
    font-size: 1.143em
}

#comments .page-navigator li {
    display: inline-block;
    margin: 0 5px 5px 0
}

#comments .page-navigator a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #DDD;
    margin-right: 2px;
    line-height: 40px;
    border-radius: 100%;
    font-size: 0.75em;
		background: rgba(255,255,255,0.5);
}

#comments .page-navigator a:hover {
    background: #f8f8f8;
}

#comments .page-navigator .current a {
    background: #07F;
    color: #fff;
    border-color: #07F;
}

#comments .comment-list,.comment-list ol {
    margin: 0;
    padding: 0;
    list-style: none
}

#comments .comment-list {
    margin-top: 10px
}

#comments .comment-list li.comment-body {
	padding: 22px 0 0;
	    margin: 20px 0;
	    background: rgba(248,248,248,1);
	    border-radius: 30px;
	    padding: 24px;
}

#comments .comment-list li.comment-level-even {

}

#comments .comment-list li .comment-reply {
    float: right;
    margin-top: -30px;
    font-size: .92857em
}

#comments .comment-content {
    padding: 10px 40px 10px 0;
    word-wrap: break-word;
    line-height: 1.5
}
ol.comment-list .comment-child{
	margin:0!important;
	padding:0px 0!important;
	border:none!important;
}
#comments .avatar {
    position: relative
}
.respond{
	margin-bottom: 75px;
}

/**
 * links
 */

#links {
	width: 800px;
	margin: 20px auto;
	background: RGB(255,255,255);
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 1px;
	border-radius: 30px;
}
#links h2 {
	text-align: center;
	font-size: 2.3rem;
	font-weight: 400;
	color: RGB(182,177,150);
	margin: 0;
}
#links h2::before {
	content: ' ';
	display: inline-block;
	position: relative;
	width: 3rem;
	height: 3rem;
	top: 0.6rem;
	left: -0.2rem;
	background-size: contain;
	background-image: url('../IMG/friends.svg');
}
#links-content {
	margin: 49px;
	color: white;
}
.friends {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.friends li {
	display: inline-block;
	list-style-type: none;
	width: 40%;
	margin: 10px;
	border-radius: 15px;
	border: 1px solid #eee;
}
.friends li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	width: 40%;
	margin: 10px;
	border-radius: 15px;
	border: 1px solid #eee;
	height: 100px;
}
.friends li img {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	float: left;
}
.link-item-content {
	float: right;
	padding: 10px;
	text-align: right;
}
.link-item-content h3 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.5rem;
	color: #2e2e2e!important;
}
.link-item-content span {
	margin: 0;
	margin-bottom: 5px;
	color: #333!important;
	font-size: 0.875rem;
}
.link-item-content span::before {
	content: '#';
	color: #333!important;
}
.link-item-content p {
	margin: 0;
	margin-bottom: 5px;
	font-size: 0.875rem;
	color:#333;
}

/**
 * footer
 */

#footer {
	width: 800px;
	margin: 20px auto;
	background: RGB(113,114,122);
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 1px;
	border-radius: 30px;
}
#footer-content {
	margin: 10px 49px;
	color: white;
}
#footer-content-left {
	float: left;
}
#footer-content-right {
	float: right;
	position: relative;
}
#footer-content-right p {
	position: relative;
}
#footer-content-left p {
	line-height: 1.7;
	font-size: 1.2rem;
}
#footer-content-right img {
	height: 50px;
	margin-right: 20px;
}


/**
 * 1024px
 */

@media screen and (max-width: 1024px) {
	#pjax-container {
	width: 100%;
}
#header {
	width: 65%;
	margin: 10px auto;
}
#header-container {
	margin: 20px;
}
#header-container h2 {
	font-size: 2rem;
}
#header-container div span {
	width: 100%;
	font-size: 1.1rem;
	float: none;
}
#header-container div nav {
	margin-top: 15px;
	float: none;
	text-align: center;
	width: 100%;
}
#header-container div nav a {
	font-size: 1.1rem;
	margin: 5px;
}
.nav-focus:after {
	margin-left: 0px;
	width: 70%;
}
.article-item {
	width: 37.5%;
}
#zp,#footer,#links,#page,#post,#article,#comments {
	width: 65%;
	margin: 20px auto;
}
#zp-content,#footer-content,#links-content,#page-content,#post-content {
	margin: 24px;
}
#article-content {
	margin: 0;
}
#zp-content p {
	font-size: 1rem;
}
.comment-list li {
	padding: 24px;
}
#comment-form {
	padding: 24px;
}
#footer-content-left p {
	font-size: 1.1rem;
}
#footer-content-right img {
	height: 35px;
}
#footer-content-right,#footer-content-left {
	float: none;
}
#links h2 {
	font-size: 1.8rem;
}
#gototop {
	right: 20;
	bottom: 20;
}
#gototop img {
	width: 50px;
	height: 50px;
}
.article-item h2 a {
	font-size: 1.5rem;
}
#links h2::before {
	top: 0.8rem;
}
#article h1 {
	font-size: 1.5rem;
}
#article h1::before {
	width: 2.5rem;
	height: 2.5rem;
	top: 0.45rem;
}
#post-content-title {
	font-size: 1.5rem;
}
}

/**
 * 768px
 */
@media screen and (max-width: 768px) {
	#pjax-container {
	width: 100%;
}
#header {
	width: 95%;
	margin: 10px auto;
}
#header-container {
	margin: 20px;
}
#header-container h2 {
	font-size: 2rem;
	font-weight: 400;
}
#header-container div span {
	width: 100%;
	font-size: 1rem;
	float: none;
}
#header-container div nav {
	margin-top: 15px;
	float: none;
	text-align: center;
	width: 100%;
}
#header-container div nav a {
	font-size: 1rem;
	margin: 5px;
}
.nav-focus:after {
	margin-left: 0px;
	width: 70%;
}
#zp,#footer,#links,#page,#post,#article,#comments {
	width: 95%;
	margin: 20px auto;
}
#zp-content,#footer-content,#links-content,#page-content,#post-content {
	margin: 24px;
}
#article-content {
	margin: 0;
}
#post-content-title {
	margin-left: 25px;
	font-size: 1.5rem;
	margin-bottom: 5px;
}
#post-content-meta {
	margin-left: 25px;
}
#post-header {
	height: 10rem;
}
#post-header-mask {
	height: 10rem;
}
#post-content-meta {
	top: -7px;
}
#post-content-article p{
	font-size:15px;
}
#post-footer {
	padding: 25px;
}
#zp-content p {
	font-size: 1rem;
}
.comment-list li {
	padding: 24px;
}
.comment-child {
	padding: 25px 0 !important;
	padding-bottom: 0px!important;
}
.comment-inner {
	padding: 0;
}
#comment-form {
	padding: 24px;
}
#footer-content-left p {
	font-size: 1.1rem;
}
#footer-content-right img {
	height: 35px;
}
#footer-content-right,#footer-content-left {
	float: none;
}
#links h2 {
	font-size: 1.8rem;
}
#gototop {
	right: 20;
	bottom: 20;
}
#gototop img {
	width: 50px;
	height: 50px;
}
.article-item h2 a {
	font-size: 1.5rem;
}
#links h2::before {
	top: 0.8rem;
}
#article h1 {
	font-size: 1.5rem;
}
#article h1::before {
	width: 2.5rem;
	height: 2.5rem;
	top: 0.45rem;
}
.article-item {
	background: white;
	border-radius: 30px;
	box-shadow: 0px 0px 70px 6px rgba(0,0,0,0.12);
	padding: 20px;
	width: 87%;
	margin: 20px auto;
	float: none;
}
.article-item p {
	margin: 5px 0px;
}
.friends li {
	width: 100%;
	margin: 0;
	margin-bottom: 20px;
}
.link-item-content h3 {
	font-size: 1.3rem;
}
input#url, input#mail, input#author {
    width: 100%;
    margin-top: 10px;
}
}


/**
 * 动画
 */

@keyframes nav-width {
	0% {
	width: 0%
}
100% {
	width: 70%
}
}
@-moz-keyframes nav-width
/* Firefox*/
	 {
	0% {
	width: 0%
}
100% {
	width: 70%
}
}
@-webkit-keyframes nav-width
/* Safari 和 Chrome*/
	 {
	0% {
	width: 0%
}
100% {
	width: 70%
}
}
@-o-keyframes nav-width
/* Opera*/
	 {
	0% {
	width: 0%
}
100% {
	width: 70%
}
}
/* 出现*/
	@keyframes opacity-show {
	0% {
	opacity: 0
}
100% {
	opacity: 1
}
}
@-moz-keyframes opacity-show
/* Firefox*/
	 {
	0% {
	opacity: 0
}
100% {
	opacity: 1
}
}
@-webkit-keyframes opacity-show
/* Safari 和 Chrome*/
	 {
	0% {
	opacity: 0
}
100% {
	opacity: 1
}
}
@-o-keyframes opacity-show
/* Opera*/
	 {
	0% {
	opacity: 0
}
100% {
	opacity: 1
}
}
/* 消失*/
	@keyframes opacity-disappear {
	0% {
	opacity: 1
}
100% {
	opacity: 0
}
}
@-moz-keyframes opacity-disappear
/* Firefox*/
	 {
	0% {
	opacity: 1
}
100% {
	opacity: 0
}
}
@-webkit-keyframes opacity-disappear
/* Safari 和 Chrome*/
	 {
	0% {
	opacity: 1
}
100% {
	opacity: 0
}
}
@-o-keyframes opacity-disappear
/* Opera*/
	 {
	0% {
	opacity: 1
}
100% {
	opacity: 0
}
}
#post-content a {
	position: relative;
	color: #07f;
}
#post-content a::after {
	content: "";
	position: absolute;
	left: 100%;
	bottom: -2px;
	width: 0;
	border-bottom: 1px solid #07F;
	transition: width 0.3s, left 0.3s;
}
#post-content a:hover::after {
	left: 0;
	width: 100%;
	transition: width 0.3s;
}

.hoverup {
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}
.hoverup:hover {
	-webkit-box-shadow: 0 22px 43px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 22px 43px rgba(0,0,0,0.15);
	box-shadow: 0 22px 43px rgba(0,0,0,0.15);
	-webkit-transform: translateY(-4px) scale(1.02);
	-moz-transform: translateY(-4px) scale(1.02);
	-ms-transform: translateY(-4px) scale(1.02);
	-o-transform: translateY(-4px) scale(1.02);
	transform: translateY(-4px) scale(1.02);
}
