@keyframes banner-show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0.2
    }
}

@-moz-keyframes banner-show
{
    0% {
        opacity: 0
    }
    100% {
        opacity: 0.2
    }
}

@-webkit-keyframes banner-show
{
    0% {
        opacity: 0
    }
    100% {
        opacity: 0.2
    }
}

@-o-keyframes banner-show
{
    0% {
        opacity: 0
    }
    100% {
        opacity: 0.2
    }
}

@keyframes pic-show {
    0% {
        opacity: 0;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    100% {
        opacity: 1;
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
}

@-moz-keyframes pic-show
{
    0% {
        opacity: 0;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    100% {
        opacity: 1;
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
}

@-webkit-keyframes pic-show
{
    0% {
        opacity: 0;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    100% {
        opacity: 1;
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
}

@-o-keyframes pic-show
{
    0% {
        opacity: 0;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    100% {
        opacity: 1;
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
}