@charset "UTF-8";
html {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

html::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--theme-color, #07f);
}

.clear, .clear::before, .clear::after {
    display: block;
    clear: both;
}

/* Basic */
#main {
    width: 800px;
    margin: 50px auto;
}

#container {
    width: 800px;
    margin: auto;
}

/* Header */
#header {
    padding: 40px;
    border-radius: var(--theme-radius, 30px);
    background: var(--header-color, #6A6A6A);
    box-shadow: var(--theme-shadow, none);
    color: #fff;
}

#header-title h2 {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1.125rem;
}

#header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#header-content-left p {
    color: hsla(0, 0%, 100%, .6);
    margin: 0;
}

#header-content-right nav a {
    position: relative;
    display: inline-block;
    color: hsla(0, 0%, 100%, .6);
    margin-left: .5rem;
    transition: color .2s;
}

#header-content-right nav a:hover, #header-content-right nav a.nav-focus {
    color: #fff;
}

#header-content-right nav a.nav-focus::before {
    content: ' ';
    display: block;
    position: absolute;
    height: 5px;
    width: 5px;
    background: #fff;
    top: -5px;
    right: -5px;
    border-radius: 1000rem;
    opacity: 0.7;
    transition: opacity .2s;
}

/* Articles */
#articles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.article-item {
    position: relative;
    width: 325px;
    margin-bottom: 20px;
    padding: 30px;
    background: RGBA(255,255,255,1); 
    box-shadow: var(--theme-shadow, none);
    border-radius: var(--theme-radius, 30px);
    transition: transform .2s ease;
    overflow: hidden;
}

.article-item:hover {
    transform: scale(1.01);
}

.article-banner-wrap {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    z-index: 1;
    background: rgba(255,255,255,.1);
    background: -webkit-linear-gradient(left,transparent,rgba(255,255,255,1));
    background: linear-gradient(to left,transparent,rgba(255,255,255,1));
}

.article-banner {
    opacity: 0.2;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
}

.article-title {
    position: relative;
    z-index: 2;
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 0.875rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: var(--theme-color, #07f);
}

.article-data {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.article-data span{
    opacity: 0.8;
    font-weight: 600;
    font-size: 0.925rem;
}

.article-data span a:link{
    color: #000;
}

.articles-switch {
    display: block;
}

a.next {
    float: right;
}

a.prev {
    float: left;
}

a.prev, a.next {
    font-size: 0.875rem;
    background: rgba(255, 255, 255, 0.99);
    padding: 10px 20px;
    border-radius: 1000rem;
    border: 1px solid #eee;
    box-shadow: var(--theme-shadow, none);
    transition: transform .2s ease;
    color: #000;
}

a.prev:hover, a.next:hover {
    transform: scale(0.99);
}



@media (max-width: 1024px) {
    #main {
        width: 95%;
    }

    .article-item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #main {
        width: 95%;
    }
    #container {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .text {
      font-size: 16px;
    }
}