@charset "UTF-8";
html {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

html::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

/* Basic */
#main {
    width: 800px;
    margin: 50px auto;
}

/* Header */
#header {
    padding: 30px;
    border-radius: var(--theme-radius, 30px);
    background: var(--header-color, #6A6A6A);
    color: #fff;
}

#header-title h2 {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1.125rem;
}

#header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}




@media (max-width: 1024px) {
    .text {
      font-size: 16px;
    }
}

@media (max-width: 768px) {
    .text {
      font-size: 16px;
    }
}

@media (max-width: 480px) {
    .text {
      font-size: 16px;
    }
}