/*
* @description: 短代码样式表
* @author: youranreus
*/
.ArtinArt {
	padding: 15px;
	background: RGBA(250, 250, 250, 1);
	border-radius: 15px;
	width: 300px;
	margin: 10px auto;
}

.ArtinArt h5 {
	font-size: 1rem !important;
	margin: 0 !important;
	border: none !important;
}

.ArtinArt h5 a {
	display: block;
}

.ArtinArt h5:hover {
	letter-spacing: normal !important;
	border: none !important;
}

.ArtinArt h5 a::after {
	display: none;
}

.ArtinArt h5 a:hover {
	color: #07f !important;
	background: rgba(255, 255, 255, 0) !important;
}

.ArtinArt p.clear {
	margin: 0.5rem 0 0 0;
	font-size: 0.825rem !important;
	color: #919191 !important;
}

.post-content-tag {
	display: inline-block;
	margin: 0 5px;
	padding: 0.2rem 0.4rem;
	font-size: 12px;
	vertical-align: middle;
	border-radius: 3px;
}

.tag-blue {
	color: RGB(121, 145, 209);
	border: 0.0625rem solid RGB(121, 145, 209);
}

.tag-black {
	color: #444;
	border: 0.0625rem solid #444;
}

.tag-red {
	color: RGBA(184, 2, 51, 0.6);
	border: 0.0625rem solid RGBA(184, 2, 51, 0.6);
}

.shortcode-notice {
	background: #eef6fd;
	padding: 0.5rem 1.5rem;
	border-left: 3px solid #38a3fd;
	margin-bottom: 1rem;
	color: #777;
	font-size: 0.875rem;
	line-height: 1.77;
}

.shortcode-notice p {
	color: #777 !important;
	margin: 0 !important;
}

.shortcode-warn {
	background: #fcf1f1;
	padding: 0.5rem 1.5rem;
	border-left: 3px solid #ed0000;
	margin-bottom: 1rem;
	color: #777;
	font-size: 0.875rem;
	line-height: 1.77;
}

.shortcode-warn p {
	color: #777 !important;
	margin: 0 !important;
}
.shortcode-download {
	text-align: center;
	margin: 1rem 0;
}
.shortcode-download a {
	padding: 6px 12px;
	border-radius: 10000rem;
	line-height: unset;
	background: var(--theme-banner-bg);
}

.shortcode-download a svg {
	fill: var(--theme-color);
    height: 1rem;
    width: 1rem;
    position: relative;
    top: .25rem;
}

.shortcode-download a:hover {
	border: 1px solid var(--theme-color);
}

.collapse-box {
	border: 1px solid #ddd;
	margin: 1.5rem;
	border-radius: 5px;
	overflow: hidden;
}

.collapse-title {
	background: #fafafa;
	cursor: pointer;
}

.collapse-title p {
	margin: 0 !important;
	padding: 15px;
}

.collapse-content {
	height: 0;
	overflow: hidden;
	transition: height 0.2s ease-in-out;
}

.collapse-content-inner {
	color: var(--theme-text-main);
	margin: 1.5rem;
}

.post-content-tooltip svg {
	height: 18px;
	width: 18px;
}

div.photos {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

div.photos figure {
	position: relative;
	margin: 5px;
	cursor: pointer;
}

div.photos figure div {
	position: relative;
	height: 0;
	width: 100%;
}

div.photos figure div img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0 !important;
	max-width: 100% !important;
	margin: 0 !important;
}

figcaption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	width: auto;
	margin: 0;
	padding: 5px 0 0;
	color: #fff;
	text-shadow: 1px 1px 1px RGBA(0, 0, 0, 0.7);
	text-align: center;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}

figure:hover figcaption {
	opacity: 1;
}

.bilibili {
	height: 30rem;
	width: 100%;
	margin: 2rem 0;
}

.dp {
	margin-bottom: 1rem;
}
